<div class="card-container">
    
    <div class="card" *ngIf="cart.orders.length > 0; else cartEmpty">
        <div *ngFor="let order of cart.orders; trackBy: trackById">
            <p>{{order.product.name}} - {{order.product.price}}$ - {{order.quantity}}pcs</p>
        </div>
        <p>total cost : {{cart.totalCost}}</p>
        <button class="btn btn-default" (click)="oncleanCart()">Clean cart</button>
    </div>
</div>

<ng-template #cartEmpty>
    <p>You haven't selected anything yet.</p>
    <button class="btn btn-default" (click)="onFillCart()">Fill cart</button>
</ng-template>



